*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}

html{
	font-size: 60%;
	height: 100%;
}

body{
	background-position: center;
	background-size: cover;
	background-image: url("/static/board.jpg");
}

header{
	display: flex;
	width: 100%;
	margin: auto;
	align-items: center;
	background-color: white;
	position: fixed;
	top: 0px;
	z-index: 12;
}

.logo-container, .nav-links{
	display: flex;
	align-items: center;
}

.logo{
	font-weight: bold;
	font-size: 3rem;
	margin: 5px;
	text-shadow: 1px 2px 8px gray;
}

.logo-image{
	margin: 10px;
}

.logo-container{
	/*background-color: #DFF4F8;*/
	flex: 5;
}
nav{
	/*background-color: #FFF2C9;*/
	flex: 2;
}

.nav-links{
	justify-content: flex-end;
	list-style: none;
	padding: 10px;
}

.nav-link{
	font-size: 2rem;
	text-decoration: none;
	color: #0043FB;
	padding: 20px;
	border-radius: 10px;
}

.nav-link:hover{
	background-color: #DBDBDC;
}

div.info-box a{
	text-decoration: none;
	color: #0234BC;
}

div.about-box a, div.index-page a{
	text-decoration: none;
	font-size: 2rem;
	color: #0234BC;
}


main{
	position: relative;
	top: 8.5rem;
	
}

.app-content{
	display: grid;
	height: 100%;
	grid-template-rows: 2rem 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"box3 box3"
	"box1 box2";
	/*"box1 box4";*/
	
}

.equip-content{
	display: grid;
	height: 100%;
	grid-template-rows: 2rem 2fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"box3 box3"
	"box5 box6"
	"box7 box7";
}

.quotas-content{
	display: grid;
	height: 100%;
	grid-template-rows: 2rem 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"box3 box3"
	"box6 box7";
}

#table, #people-table, #thing-table, .res-table, #customer-table{
		margin: 2rem;
}
.t-input-box, .p-input-box, .input-box, .eq-output-box{
	background-color: rgb(191,191,191,0.9);
	margin: 1rem;
	border-radius: 1rem;
}

.t-input-box{
	grid-area: box5;
	
}
.p-input-box{
	grid-area: box6;
}

.input-box{
	grid-area: box1;
}

.eq-output-box{
	grid-area: box7;
}

.output-box{
	grid-area: box2;
	background-color: rgb(191,191,191,0.9);
	margin: 1rem;
	border-radius: 1rem;
}

.info-box{
	grid-area: box4;
	background-color: rgb(210,210,210,0.95);
	margin: 1rem;
	border-radius: 1rem;
}

.about-box, .index-page{
	background-color: rgb(250,250,250,0.9);
	width: 95vw;
	height: 100%;
	margin: auto;
	border-radius: 1rem;
}

.status-line{
	grid-area: box3;
}

h1{
	margin-bottom: 2rem;
	margin-top: 2rem;
	margin-left: 2rem;
	font-size: 3rem;
}

h2{
	margin-bottom: 2rem;
	margin-top: 2rem;
	margin-left: 2.5rem;
	font-size: 2.5rem;
}

.add-form, .clear-form, .file-form{
	margin: 2rem;
}

input, label, #table, #people-table, #thing-table, li, #customer-table{
	font-size: 2rem;
}

[type="Submit"]{
	margin: 1rem;
	font-size: 1.8rem;
	background-color: #52A06E;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 1rem;
	border-top-left-radius: 2rem;
	cursor: pointer;
	width: 30%;
}
[type="Submit"]:hover{
	background-color: #427B57;
	
}

.pack-form input[type="Submit"]{
	width: 250px;
}


label{
	margin: 1rem;
}
.good{
	color: #129A1A;
	font-size: 2rem;
	padding-left: 3rem;
	margin-bottom: 0.5rem;
	background-color: #E4FEE8;
}

.bad{
	color: #C33B0B;
	font-size: 2rem;
	padding-left: 3rem;
	margin-bottom: 0.5rem;
	background-color: #FEE6E4;
}
.blue{
	color: #0711AF;
	font-size: 2rem;
	padding-left: 3rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	background-color: #C0C3FD;
}

.del-button{
	font-size: 1.8rem;
	background-color: #2D8FED;
	color: white;
	padding: 10px;
	font-style: sans-serif;
	border: none;
	border-radius: 1rem;
	border-top-left-radius: 2rem;
	cursor: pointer;
}
.del-button:hover{
	background-color: #0058AE;
}

h3, p, th, td{
	font-size: 2rem;
	
}

table{
	margin-left: 4rem;
}

table, td, th{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1rem;
}

h3{
	margin: 1rem;
	margin-left: 3rem;
}

p{
	margin-left: 3rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
}
.pack-form{
	margin-left:2rem;
}

.clear-button{
	
	background-color: #E54747;
	
}
.clear-button:hover{
	background-color: #B52C2D;
}

ul.steps, ul.app-links{
	margin-left: 6rem;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	
}
/*label{
	margin: 0, 1rem;
	font-size: 2 rem;
}
input{
	font-size: 2 rem;
}*/
