{% extends "layout.html" %}

{% block content %}
<div class="about-box">
	<h1>
	Вводные замечания
	</h1>
	<p>В данном приложении использована конкретная формулировка задачи об упаковке, но
	привязываться к ней не стоит. Например, "объем" предмета можно понимать и как массу и как время
	выполнения той или иной задачи, под "стоимостью" можно понимать приоритетность той или иной задачи и т.п.
	То есть, приложение дает универсальный ответ для задач определенного типа, связанных с распределением 
	ограниченных ресурсов.</p>
	<h1>Как пользоваться программой</h1>
		<ul class="steps">
			<li>
				Для начала нужно наполнить список предметов. Сделать это можно вручную, заполнив поля формы, находящиеся под таблицей предметов или при помощи внешнего файла.
			</li>
			<li>
				В первом варианте (вручную) пользователю нужно ввести название предмета, его "объем" и "стоимость"
				и нажать на кнопку "Добавить в список". </li>
			<li>
				Во втором варианте (из файла) необходимо нажать на кнопку "Обзор", после чего выбрать 
				в открывшемся диалоговом окне необходимый файл. Файл должен иметь простой текстовый формат и иметь расширение <code>txt,csv</code> или <code>dat</code>. Формат содержимого файла
				должен быть таким: "<i>Название предмета, объем предмета, стоимость предмета</i>". Поля данных должны быть
				разделены запятыми, а данные каждого нового предмета должны начинаться с новой строки. Все строки иного формата
				будут игнорироваться при чтении. После выбора файла
				нужно нажать на кнопку "Загрузить из файла", чтобы прочесть его содержимое.
			</li>
			<li>
				После того, как предметы добавлены в список в поле "Введите лимит объема" на панели "Упаковка рюкзака"
				необходимо ввести численное значение ограничения.
			</li>
			<li>
				Теперь осталось только нажать на кнопку "Упаковать вещи" для запуска работы алгоритма.
			</li>
			<li>
				По окончании работы алгоритма в панели "Упаковка рюкзака" выводится полученный результат.
				При этом список упакованных вещей отсортирован по убыванию их стоимости.
			</li>
			<li>
				Если в верхей части окна программы появляется статус "Жадное решение", то это означает, что
				эволюционный алгоритм не справился с решением и для упаковки использован так называемый "жадный" алгоритм.
				Он работает следующим образом: все вещи сортируются по убыванию их удельной стоимости (удельная стоимость=
				стоимость/объем) и в рюкзак пакуется ближайшая влезающая в него вещь с наибольшей удельной стоимостью.
				Такой алгоритм хорош при очень жестком лимите объема, когда из длинного списка вещей нужно упаковать лишь
				2-3 предмета, но в общем случае он также может давать решение сколь угодно далекое от оптимального.
			</li>
			
		</ul>
	
	<h1>Разработка приложения</h1>
	<p>Приложение создано при помощи микрофреймворка <code>Flask</code> на языке <code>Python</code> 
	в качестве простого учебного примера.
	В дальнейшем планируется улучшить его функционал и добавить возможность решать еще две 
	связанных задачи - "задачу снаряженца" и "задачу о распределении квот".<br>
	 <br>
	<a target="_blank" href="https://github.com/Villard85/tabplay-app">
		Страничка проекта на Github
	</a>
	<br>  <br>
	</p>
	
</div>
{% endblock %}
